@model SanskarHospital.Models.MRDChecklistModel
@{
    ViewBag.Title = "MRD Checklist";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    TempData["MRDCheckListSetting"] = "class=" + "active";
    TempData["MRDCheckList"] = "class=" + "active";
}

<div class="container-fluid">
    @if (TempData["MSG"] != null)
    {
        <div class="alert alert-info alert-dismissable">
            <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
            <strong>@TempData["MSG"]</strong>
        </div>
    }
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header bg-info">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="m-b-0 text-white">MRD Checklist</h4>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <form action="/Admin/MRDChecklist" method="post" class="form-horizontal" enctype="multipart/form-data">
                        <div class="form-body">
                            <a href="/Admin/MRDChecklistList" style="text-decoration:underline !important">Go to List</a>
                            <hr class="m-t-0 m-b-40">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Patient's Name<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.patient_id, ViewBag.PatientList as SelectList, "--Select--", new { @class = "form-control", @required = "required" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">IPD No.<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.ipd_number, new { @class = "form-control", @placeholder = "IPD No.", @maxlength = "10", @type = "number" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Discharge Summary<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.discharge_summary, new { @class = "form-control", @placeholder = "Discharge Summary", @type = "number" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Case Sheet<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.casesheet, new { @class = "form-control", @placeholder = "Case Sheet", @type = "number" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Dr Continuation Sheet<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.dr_continuation_sheet, new { @class = "form-control", @placeholder = "Dr Continuation Sheet", @type = "number" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Consent Form<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.consent_from_for_procedures, new { @class = "form-control", @placeholder = "Consent Form", @type = "number" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Pre Operative Checklist<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.pre_operative_checklist, new { @class = "form-control", @placeholder = "Pre Operative Checklist", @type = "number" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Pre Operative Surgeon<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.pre_operative_surgeon, new { @class = "form-control", @placeholder = "Pre Operative Surgeon", @type = "number" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Pre Anaesthesia Evalution<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.pre_anaesthesia_evalution, new { @class = "form-control", @placeholder = "Pre Anaesthesia Evalution", @type = "number" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Anaesthesia Formulation Care Plan<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.anaesthesia_formulation_care_plan, new { @class = "form-control", @placeholder = "Anaesthesia Formulation Care Plan", @type = "number" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Intra Anaesthesia Record<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.intra_anaesthesia_record, new { @class = "form-control", @placeholder = "Intra Anaesthesia Record", @type = "number" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Post Anaesthesia Record<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.post_anaesthesia_record, new { @class = "form-control", @placeholder = "Post Anaesthesia Record", @type = "number" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Post Operative Surgeon<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.post_operative_surgeon, new { @class = "form-control", @placeholder = "Post Operative Surgeon", @type = "number" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">TPR Chart<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.tpr_chart, new { @class = "form-control", @placeholder = "TPR Chart", @type = "number" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Intake Output Chart<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.intake_output_chart, new { @class = "form-control", @placeholder = "Intake Output Chart", @type = "number" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Drug Chart<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.drug_chart, new { @class = "form-control", @placeholder = "Drug Chart", @type = "number" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Nurse Note<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.nurse_note, new { @class = "form-control", @placeholder = "Nurse Note", @type = "number" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Investigation Report<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.investigation_report, new { @class = "form-control", @placeholder = "Investigation Report", @type = "number" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">General Consent<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.general_consent, new { @class = "form-control", @placeholder = "General Consent", @type = "number" })
                                </div>
                            </div>
                            <hr>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="submit" class="btn btn-success">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"> </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

