@model SanskarHospital.Models.PatientModel
@{
    ViewBag.Title = "Patient";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    TempData["PatientSetting"] = "class=" + "active";
    TempData["PatientInfo"] = "class=" + "active";
}
<!-- Datepicker CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

<style>

    .date-picker {
        position: relative;
    }

        .date-picker i {
            position: absolute;
            top: 70%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
        }

        .date-picker input[type="date"] {
            padding-right: 30px;
        }
</style>

<div class="container-fluid">
    @if (TempData["MSG"] != null)
    {
        <div class="alert alert-info alert-dismissable">
            <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
            <strong>@TempData["MSG"]</strong>
        </div>
    }
    <div class="row">
        <div class="col-lg-12">
            <div class="card ">
                <div class="card-header bg-info">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="m-b-0 text-white"> Patient</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form action="/Admin/Patient" method="post" class="form-horizontal" enctype="multipart/form-data">
                        <div class="form-body">
                            <a href="/Admin/PatientList" style="text-decoration:underline !important">Go to List</a>
                            <hr class="m-t-0 m-b-40">
                            <div class="row">

                                @Html.HiddenFor(model => model.patient_id)

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">UHID<span class="require"></span></label>
                                        @Html.TextBoxFor(model => model.patient_uhid, new { @class = "form-control", @required = "true", @placeholder = "uhid" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label text-right">Name<span class="require"></span></label>
                                        @Html.TextBoxFor(model => model.patient_name, new { @class = "form-control", @required = "true", @placeholder = "Name", @maxlength = "150" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label text-right">Address<span class="require"></span></label>
                                        @Html.TextAreaFor(model => model.patient_address, new { @class = "form-control", @required = "true", @placeholder = "Address" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="control-label text-right">Mobile No.<span class="require"></span></label>
                                        @Html.TextBoxFor(model => model.patient_mobile, new { @class = "form-control numberonly", @required = "true", @placeholder = "Mobile No", @maxlength = "10" })
                                    </div>
                                </div>

                                <div class="col-md-7">
                                    <h4 class="card-title">Gender</h4>
                                    <div class="demo-radio-button">
                                        <input name="patient_sex" value="Male" type="radio" id="radio_1" @(Model.patient_sex == "Male" ? "checked" : "")>
                                        <label for="radio_1">Male</label>
                                        <input name="patient_sex" value="Female" type="radio" id="radio_2" @(Model.patient_sex == "Female" ? "checked" : "")>
                                        <label for="radio_2">Female</label>
                                        <input name="patient_sex" value="Other" type="radio" id="radio_3" @(Model.patient_sex == "Other" ? "checked" : "")>
                                        <label for="radio_3">Other</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label text-right">Identification Mark<span class="require"></span></label>
                                        @Html.TextAreaFor(model => model.patient_identification_mark, new { @class = "form-control", @required = "true", @placeholder = "Identification Mark" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">DOB<span class="require"></span></label>
                                        @Html.TextBoxFor(model => model.patient_dob, new { @class = "form-control date-picker", @required = "true", @placeholder = "DOB" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label text-right ">Marital Status<span class="require"></span></label>

                                        @Html.DropDownListFor(model => model.patient_marital_status,
                                    new List<SelectListItem>
                                    {
                                        new SelectListItem { Text="---Select---", Value=""},
                                        new SelectListItem { Text="Single", Value="Single"},
                                        new SelectListItem { Text="Married", Value="Married"}
                                    }
                                    , new { @class = "form-control", @required = "required" }
                                    )

                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Habit<span class="require"></span></label>
                                        @Html.TextBoxFor(model => model.patient_habit, new { @class = "form-control", @placeholder = "Habit", @maxlength = "50" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Blood Group<span class="require"></span></label>
                                        @Html.TextBoxFor(model => model.patient_blood_group, new { @class = "form-control", @placeholder = "Blood Group", @maxlength = "10" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label text-right ">Status<span class="require"></span></label>

                                        @Html.DropDownListFor(model => model.is_active,
                                    new List<SelectListItem>
                                    {
                                        new SelectListItem { Text="ACTIVE", Value="ACTIVE"},
                                        new SelectListItem { Text="DEACTIVE", Value="DEACTIVE"}
                                    }
                                    , new { @class = "form-control" }
                                    )

                                    </div>
                                </div>


                            </div>
                            <hr>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="submit" class="btn btn-success">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"> </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JS -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->



<script>
    function RemovePatient(id) {
        if (confirm("Are you sure?")) {
            $.getJSON('/Admin/DeletePatient/' + id, function (data) {
                if (data != '') {
                    $('#Busval_' + id).remove();
                    $.toast({
                        heading: 'Welcome To Sanskar Hospital',
                        text: 'Data Deleted Successfully..!',
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'success',
                        hideAfter: 3500,
                        stack: 6
                    });

                }
                else {
                    $.toast({
                        heading: 'Welcome To Sanskar Hospital',
                        text: 'Oops Something going wrong..!',
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'error',
                        hideAfter: 3500

                    });
                }

            });
        }
        return false;
    }
</script>

<script src="/admin_assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script>
    $('.datepicker').datepicker();
</script>

