@model SanskarHospital.Models.PatientAdmission
@{
    ViewBag.Title = "Patient Admission";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    TempData["PatientSetting"] = "class=" + "active";
    TempData["PatientAdmission"] = "class=" + "active";
    
}

<div class="container-fluid">
    @if (TempData["MSG"] != null)
    {
        <div class="alert alert-info alert-dismissable">
            <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
            <strong>@TempData["MSG"]</strong>
        </div>
    }
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header bg-info">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="m-b-0 text-white">Patient Admission</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form action="/Patient/PatientAdmission" method="post" class="form-horizontal" enctype="multipart/form-data">
                        <div class="form-body">
                            <a href="/Patient/PatientAdmissionList" style="text-decoration:underline !important">Go to List</a>
                            <hr class="m-t-0 m-b-40">


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Patient's Name<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.patient_id, ViewBag.PatientList as SelectList, "--Select--", new { @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Arrival Time<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.arrival_time, new { @class = "form-control", @required = "true", @placeholder = "Arrival Time", @type = "time" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Assesment Time<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.assesment_time, new { @class = "form-control", @required = "true", @placeholder = "Assesment Time", @type = "time" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Room No.<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.room_no, new { @class = "form-control", @required = "true", @placeholder = "Room No." })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Indoor No.<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.indoor_no, new { @class = "form-control", @required = "true", @placeholder = "Indoor No." })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Date Of Admission<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.date_of_addmission, new { @class = "form-control", @required = "true", @placeholder = "Date Of Admission", @type = "date" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Admission Time<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.addmission_time, new { @class = "form-control", @required = "true", @placeholder = "Admission Time", @type = "time" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Date Of Discharge<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.discharge_date, new { @class = "form-control", @required = "true", @placeholder = "Date Of Discharge", @type = "date" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Discharge Time<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.discharge_time, new { @class = "form-control", @required = "true", @placeholder = "Discharge Time", @type = "time" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">History<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextAreaFor(model => model.history, new { @class = "form-control", @required = "true", @placeholder = "History" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Examination<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextAreaFor(model => model.examination, new { @class = "form-control", @required = "true", @placeholder = "Examination" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right">Diagnosis<span class="require"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextAreaFor(model => model.diagnosis, new { @class = "form-control", @required = "true", @placeholder = "Diagnosis" })
                                </div>
                            </div>
                            <hr>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="submit" class="btn btn-success">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"> </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
</div>

